/* Targetting the location or department names*/
.comeet-outer-wrapper .comeet-groups-list .comeet-group-name,
.comeet-outer-wrapper .comeet-groups-list .comeet-group-name a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
.comeet-outer-wrapper .comeet-groups-list .comeet-list{
    margin-left: 0px;
}
.comeet-outer-wrapper .comeet-groups-list .comeet-list .comeet-positions-list{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.comeet-outer-wrapper .comeet-groups-list .comeet-list .comeet-positions-list .comeet-position .comeet-position-name a{
    font-size: 16px;
    text-decoration: none;
}
.comeet-outer-wrapper .comeet-groups-list .comeet-list .comeet-positions-list .comeet-position .comeet-position-name a:hover{
    text-decoration: underline;
}
.comeet-outer-wrapper .comeet-groups-list .comeet-list .comeet-positions-list .comeet-position .comeet-position-meta{
    color: #898787;
    font-size: 12px;
    margin: 0;
}
/*Position page css*/
.comeet-outer-wrapper h2.comeet-position-name{
    font-size: 30px;
}
.comeet-outer-wrapper .comeet-position-meta-single span.comeet-position-location{
    font-size: 14px;
}
.comeet-outer-wrapper .comeet-position-info h4{
    font-size: 18px;
}
.comeet-outer-wrapper .comeet-position-description p,
.comeet-outer-wrapper .comeet-position-requirements p{
    margin: 0;
    padding: 0;
    line-height: 150%;
}
.comeet-outer-wrapper .comeet-position-requirements ul{
    list-style: disc;
}
