.comeet-group-name {
    margin-bottom: 20px;
    margin-top: 30px;    
}

.comeet-group-name a {
    color: black;
    font-weight: bold;
}

li.comeet-position {
    /* card style */
    width: 48%;
    float: left;
    margin-bottom: 3%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    height: 75px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);    
}

li.comeet-position:nth-child(odd) {
    margin-right: 3%;
}

.comeet-position-meta {
    margin: 0;
	display: block;
    font-size: 0.7rem;
    color: #898787;
}

.comeet-position-name {
    margin-bottom: 0;
}

.comeet-position-meta-single {
	display: block;
    font-size: 0.8rem;
    color: #898787;
	margin-bottom:50px;
}

.comeet-list ul {
    margin:0px;
}
.all-jobs-link {
    padding:10px;
    border-top: 1px solid #d5d5d5;
    display:block;
    margin-top:20px;
}
.email-resume-link {
    float:right;
    font-size:14px;
    font-weight:normal;
}

.position-image {
    text-align:center;
}

.comeet-list a{
text-decoration:none;
}
.comeet-list a:link {
text-decoration:none;
}

/* visited link */
.comeet-list a:visited {
    text-decoration:none;
}

/* mouse over link */
.comeet-list a:hover {
    text-decoration:none;
}

/* selected link */
.comeet-list a:active {
    text-decoration:none;
}

.comeet-list ul{
	list-style:none;
}
.comeet-list li{
	margin-bottom:10px;
}

.comeet-g {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
}
.opera-only:-o-prefocus,
.comeet-g {
    word-spacing: -0.43em;
}
.comeet-u {
    display: inline-block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.comeet-u-1,
.comeet-u-1-2 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.comeet-u-1 {
    display: block;
}
.comeet-u-1-2 {
    width: 100%;
}
.comeet-offset-1-2 {
    margin-left: 50%;
}
.comeet-g-r {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}
.opera-only:-o-prefocus,
.comeet-g-r {
    word-spacing: -0.43em;
}
.comeet-g-r img {
    max-width: 100%;
}

.comeet-social {
    border-top: 1px solid #d5d5d5;
    margin-top: 20px;
    padding-top: 30px;
    clear: both;    
}

@media (min-width: 980px) {
    .comeet-visible-phone {
        display: none;
    }
    .comeet-visible-tablet {
        display: none;
    }
    .comeet-visible-desktop {} .comeet-hidden-phone {} .comeet-hidden-tablet {} .comeet-hidden-desktop {
        display: none;
    }
}

@media (max-width: 767px) {
    li.comeet-position {
        width: 100%;
        margin: 0 0 3% 0 !important;
    }
    .comeet-visible-phone {} .comeet-hidden-phone {
        display: none;
    }
    .comeet-hidden-desktop {} .comeet-visible-desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .comeet-visible-tablet {} .comeet-hidden-tablet {
        display: none;
    }
    .comeet-hidden-desktop {} .comeet-visible-desktop {
        display: none;
    }
}